<p>Ajouter le nouveau livre</p>
<div>
    <form [formGroup]="BookToCreate" (ngSubmit)="createNewBook()">
        <div>
            <label for="title">Title</label>
            <input id="title" type="text" formControlName="title">
        </div>
        <div>
            <label for="price">Prix</label>
            <input id="price" type="number" formControlName="price">
        </div>
        <div>
            <label for="entry_date">Date d'entree</label>
            <input id="entry_date" type="date" formControlName="entry_date">
        </div>
        <div>
          <label for="Author">Books</label>
          <select id="Author" formControlName="Author" multiple>
            <option *ngFor="let test of listAuthors" [value]="test.ID_Author">{{test.firstname}} {{test.lastname}}</option>
          </select>
        </div>
        <div>
            <label for="genres">Books</label>
            <select id="genres" formControlName="genres" multiple>
              <option *ngFor="let test of listGenres" [value]="test.id">{{test.name_genres}}</option>
            </select>
          </div>
        
<div>

  <button type="submit">Creer</button>
</div>
    </form>
</div>

